{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Debug current file",
      "type": "debugpy",
      "request": "launch",
      "program": "${file}",
      "console": "integratedTerminal",
      "justMyCode": true
    },
    {
      "name": "{{ lg_agent_dir }} (uvicorn)",
      "type": "debugpy",
      "request": "launch",
      "module": "uvicorn",
      "args": ["agents.{{ lg_agent_dir }}.main:app", "--reload", "--port", "8010"],
      "console": "integratedTerminal"
    }
  ]
}
