{
  "buildCommand": "cd {{ ts_project_root }} && npm run build",
  "outputDirectory": "{{ ts_project_root }}/.next",
  "installCommand": "cd {{ ts_project_root }} && npm install",
  "framework": "nextjs"
}
